<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bring2u</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="user" class="ion-padding">
    <p>Bem vindo, {{ user.firstName }}!</p>
    <p>Aqui você poderá ver quando seus amigos vão às compras. Toque no item da coleção "Novidades" para solicitar que tragam algo.</p>
  </div>

  <ion-item-group *ngIf="news" class="ion-margin-top">
    <ion-item-divider>
      <ion-label>Novidades</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let new of news">
      <ul>
        <li><strong>Quem: </strong>{{ new.createdByUserData?.firstName }}</li>
        <li><strong>Onde vai: </strong>{{ new.where }}</li>
        <li><strong>Quando: </strong>{{ new.timestamp | date:'medium' }}</li>
      </ul>
    </ion-item>
  </ion-item-group>

  <ion-fab class="fab" vertical="bottom" horizontal="end" edge slot="fixed"
    routerLink="/shopping/create" routerDirection="forward">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>